ion-footer {
    ion-toolbar {
        font-family: "Satisfy", cursive !important;
        ion-title {
            letter-spacing: 2px;
            font-size: 1.8rem !important;
        }
    }
    /*ion-segment {
        --background: var(--ion-color-primary);
        ion-segment-button {
            font-size: 1rem;
            --color: var(--ion-color-light);
            --color-checked: #fff;
        }
    }*/
}
ion-content {
    ion-list {
        ion-list-header {
            font-weight: 600;
            font-size: 1rem;
        }
        ion-item {
            margin-top: 2vh;
            ion-label {
                font-size: 1.2rem;
                p {
                    margin-top: 3px;
                }
            }
            ion-text {
                font-size: 0.9rem;
            }
        }
    }
}
ion-avatar {
    width: 150px;
    height: 150px;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .preview {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .fallback {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }